* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: rgb(201, 232, 252);
}

header a {
    text-decoration: none;
    color: black;
}

nav ul {
    list-style: none;
    display: flex;
    font-size: 100%;
    font-weight: bold;
    margin: 2px;
}

nav ul li {
    margin: 4px;
    height: 40px;
    width: 14%;
    padding: 0;
    border: 4px solid darkred;
    align-content: center;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: lightcoral;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
    border: 2px solid darkred;
    background-color: darkred;
    text-transform: uppercase;
}

.logo img {
    width: 80px;
    padding: 4px;
}

.logo span {
    font-size: 50px;
    font-weight: bold;
    color: whitesmoke;
}

#ch40 img,
#ch38 img,
#softplay img {
    height: 200px;
}

section {
    margin: 20px 10px;
}

#availabilitybutton {
    font-size: 80px;
}

.button {
    display: flex;
    justify-content: center;
    border: 4px solid navy;
    width: 70%;
    background-color: lightgreen;
    color: rgb(0, 49, 0);
    margin: 0 auto;
    
}