* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: rgb(201, 232, 252);
}

main {
    position: relative;
/*    top: 150px; */
    margin: 40px auto;
    padding: 20px 30px 40px 30px;
    background-color: #FFFFFF;
    width: 75%;
    border-radius: 4px;
    align-self: center;
}

header {
/*    position: fixed;
    width: 100%;
    z-index: 1; */
    background-color: darkred;
    top: 0;
}

header a {
    text-decoration: none;
    color: black;
}

nav ul {
    list-style: none;
    display: flex;
    font-size: 100%;
    font-weight: bold;
    margin: 2px;
}

nav ul li {
    margin: 1px;
    height: 40px;
    width: 25%;
    padding: 0;
    border: 4px solid black;
    align-content: center;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: lightcoral;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
    border: 2px solid darkred;
    background-color: darkred;
    text-transform: uppercase;
}

.logo img {
    width: 80px;
    padding: 4px;
}

.logo span {
    font-size: 50px;
    font-weight: bold;
    color: whitesmoke;
}

#ch40 img,
#ch38 img,
#softplay img {
    height: 200px;
}

section {
    margin: 20px 10px;
}

#availabilitybutton {
    font-size: 80px;
    text-decoration: none;
    width: 70%;
}

#book-buttons {
    display: flex;

}

.book {
    font-size: 40px;
    text-decoration: none;
    width: 45%;
}

.button {
    display: flex;
    justify-content: center;
    border: 4px solid navy;
    background-color: lightgreen;
    color: rgb(0, 49, 0);
    margin:5px auto;
    
}

.center-heading {
    text-align: center;
}

.center-heading ul {
    list-style: none;
}

.heroimg img {
    height: 70%;
}

.profile {
    display: inline-block;
    margin: 40px auto;
    padding: 20px 30px 40px 30px;
    background-color: burlywood;
    width: 70%;
}

.profile img {
    height: 150px;
}